 body {
  margin: 0;
  padding: 0;
}

section.navi-section {
  min-height: 100vh;
  background-color: #fafafa;
  border: 1px solid #313131;
}

.navi-section:first-child {
  min-height: 150vh;
}
.navi-section:nth-child(3) {
  min-height: 50vh;
}
.navi-section:last-child {
  min-height: 250vh;
}

.navi-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  list-style: none;
  height: 65vh;
}
.navi-item {
  display: block;
  height: 25px;
  width: 25px;
  border: 1px solid red;
  border-radius: 0;
}
.navi-item.navi--current {
  background-color: red;
}

footer {
  min-height: 200vh;
}